.profile {
  position: relative;
  margin: 130px 100px 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('../../../img/profile/foto-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}