
.myjob {
  width: 120px;
  border-radius: 25px;
  background-color: #ED3024;
}

.myjob p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 25px;
}