.homepage {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 180px);

  gap: 10px;
  grid-area: item;
  padding: 40px 0 20px;
  margin: 0 auto;
  justify-content: center;
}

.item {
  border-radius: 5px;
  overflow: hidden;
}

.imgWork {
  width: 180px;
  height: 180px;
}
